<head>
  
</head>
<body style="background:rgb(170, 59, 59);">
  <div class="row" style="width:800px; margin:10% auto;">
    <div class="large-12 columns">
      <center>
        <h1 style="color:white;  font-family: 'Trocchi', serif;" class="my_title_font">A great place to find Vegan Cafés, Restaurants <abbr title="and" style="color:white">&amp;</abbr> Bars
        </h1>
        <%= link_to "Cool, let's have a look!", mainmenu_url, class:'button round' %></button>
      </center>
    </div>
  </div>
</body>